{% extends 'layout.html' %}
{% block title %}
    Prodmanager - ProdIntel
{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1>Hi Prodmanager</h1>
</div>
{% endblock %}
{% block style %}
    <style>
        .heading {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .Add {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        h1,h2 {
            text-align: center;
        }
    </style>
{% endblock %}